.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vw;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.h-half {
  height: 50%;
}

.w-section {
  width: 65%;
}

.w-section-2 {
  width: 30%;
}